In [1]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
planet = 'Pluto'
planet[0]

'P'

In [3]:
planet[-3:]

'uto'

In [4]:
len(planet)

5

In [5]:
[char + '!' for char in planet]

['P!', 'l!', 'u!', 't!', 'o!']

In [6]:
claim = x
claim.upper()

'PLUTO IS A PLANET'

In [7]:
claim.lower()

'pluto is a planet'

In [8]:
claim.index('plan')

11

In [9]:
claim.startswith(planet)

True

In [10]:
claim.endswith('dwarf planet')

False

In [11]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet']

In [13]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
year, month, day

('1956', '01', '31')

In [14]:
'/'.join([day, month, year])

'31/01/1956'

In [15]:
'❤'.join([day, month, year])

'31❤01❤1956'

In [16]:
planet + ', we miss you.'

'Pluto, we miss you.'

In [17]:
"{}, you'll always be the {}th planet to me.".format(planet, 9)

"Pluto, you'll always be the 9th planet to me."

In [18]:
numbers = {'one':1, 'two':2, "three":3}
numbers

{'one': 1, 'two': 2, 'three': 3}

In [20]:
numbers['one']

1

In [21]:
numbers['eleven'] = 11

In [22]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [23]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [24]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet:planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [25]:
'Saturn' in planet_to_initial

True

In [26]:
'Betelgeuse' in planet_to_initial

False

In [27]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [28]:
numbers.keys(), numbers.values()

(dict_keys(['one', 'two', 'three', 'eleven']),
 dict_values(['Pluto', 2, 3, 11]))

In [29]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [30]:
for planet, initial in planet_to_initial.items():
    print("{} begins with\"{}\"".format(planet.rjust(10), initial))

   Mercury begins with"M"
     Venus begins with"V"
     Earth begins with"E"
      Mars begins with"M"
   Jupiter begins with"J"
    Saturn begins with"S"
    Uranus begins with"U"
   Neptune begins with"N"